/* HEADER */

.header{
    background-color: hsl(217, 28%, 15%);
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    width: 100%;
    margin: 0 auto;
}

.header a img{
    max-width: 120px;
}

.header .menu{
    display: flex;
}

.header nav .menu a{
    margin: 0 2rem;
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.5s ease-in-out;
}

.header nav .menu li a:hover{
    text-decoration: underline;
    color: #fff;
}

@media(max-width: 480px){
    .menu{
        flex-direction: column;
    }
}

/* HEADER */

/* HERO */

.call-to-actions{
    background-color: hsl(217, 28%, 15%);
    margin: 0 auto;
}

.call-to-actions .container .intro-information{
    text-align: center;
    background-color: hsl(217, 28%, 15%);
    background-image: url(../fylo-dark-theme-landing-page-master/images/bg-curvy-desktop.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    padding-bottom: 150px;
}

.call-to-actions .container .cont-imagem{
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.call-to-actions .container .intro-information h1{
    max-width: 700px;
    width: 100%;
    margin: auto;
    line-height: 55px;
}

.call-to-actions .container .intro-information p{
    padding: 40px;
    max-width: 460px;
    width: 100%;
    margin: auto;
}

.call-to-actions .container .intro-information a{
    background: linear-gradient(150deg, #65e2d9,#339ecc);
    padding: 15px 80px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

.call-to-actions .container .intro-information a:hover{
    background: linear-gradient(150deg, #a3eee8, 40%, #85c5e0);
    padding: 17px 85px;
    font-weight: 800;
}

@media(max-width: 600px){
    .call-to-actions .container .intro-information {
        background-image: url(../fylo-dark-theme-landing-page-master/images/bg-curvy-mobile.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: contain;
        padding-bottom: 0;
        margin-bottom: 100px;
    }

    .call-to-actions .container .intro-information h1{
        font-size: 2em;
    }
}

@media(min-width: 1441px){
    .call-to-actions .container .intro-information{
        background-image: none;
    }

    .call-to-actions .container, .call-to-actions .container .intro-information{
        background-color: hsl(218, 28%, 13%);
    }
}
/* FIM DO HERO */

/* FEATURES */

main{
    background-color: hsl(218, 28%, 13%);
}

main .features .container{
    display: grid;
    grid-template: 280px 280px / 370px 370px;
    justify-content: space-evenly;
    align-content: center;
}

@media(max-width:800px){
    main .features .container{
        display: flex;
        flex-wrap: wrap;
        max-width: 350px;
        width: 100%;
        align-items: center;
        padding: 0 18px;
        margin: 0 auto;
    }
}

main .features .container .functionality{
    max-width: 450px;
    width: 100%;
    padding: 20px 10px;
    text-align: center;
}

main .features .container .functionality h3{
    padding: 12px 0;
}

main .features .container .functionality img{
    height: 80px;
}

/* FIM DO FEATURES */

/* PRODUCTIVE */

main .productive .container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}

main .productive .container .img-productive{
    max-width: 700px;
    width: 100%;
}

main .productive .container .stay-productive{
    margin-left: 8px;
}

main .productive .container .stay-productive h2{
    max-width: 400px;
    width: 100%;
    line-height: 50px;
}

main .productive .container .stay-productive p{
    margin-top: 10px;
    max-width: 550px;
    width: 100%;
}

main .productive .container .stay-productive a{
    text-decoration: underline;
    color: hsl(176, 68%, 64%);
}

main .productive .container .stay-productive a:hover{
    color: #fff;
}

main .productive .container .stay-productive a::after{
    content: "";
    background-image: url(../fylo-dark-theme-landing-page-master/images/icon-arrow.svg);
    display: inline-block;
    width: 15px;
    height: 15px;
    position: relative;
    left: 5px;
    top: 2px;
}
@media(max-width: 390px){
    main .productive .container .stay-productive h2{
        max-width: 260px;
        width: 100%;
    }
}

@media(max-width: 800px){
    main .productive .container .img-productive{
        text-align: center;
    }

    main .productive .container{
        flex-direction: column;
        padding: 20px;
    }
    
    main .productive .container .stay-productive h2{
        font-size: 1.5rem;
    }
}

/* FIM DO PRODUCTIVE */

/* FEEDBACKS */

main .feedbacks .container{
    display: flex;
    margin: 0 10%;
    padding-top: 80px;
    justify-content: space-evenly;
    position: relative;
    line-height: 1.8rem;
}



main .feedbacks .container .testimonial{
    max-width: 300px;
    width: 100%;
    background-color: hsl(219, 30%, 18%);
    padding: 20px;
    border-radius: 8px;
    position: relative;
}

main .feedbacks .container .quotes-container .quotes{
    height: 30px;
    position: absolute;
    left: -5px;
    top: -25px;
}

main .feedbacks .container .testimonial .testimonial-item, main .feedbacks .container .testimonial .profile .profile-description{
    font-size: 0.85rem;
}

main .feedbacks .container .testimonial .profile img{
    border-radius: 100%;
    width: 30px;
    margin-right: 10px;
}

main .feedbacks .container .testimonial .profile{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

@media(max-width: 1155px){
    main .feedbacks .container{
        flex-wrap: wrap;
        gap: 15px;
    }
}

/* FIM DOS FEEDBACKS */

/* EMAIL CONTAINER */

main .email-container .container{
    background-color: hsl(217, 28%, 15%);
    text-align: center;
    margin: auto;
    max-width: 900px;
    width: 100%;
    padding: 30px;
    position: relative;
    z-index: 1;
    top: 100px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.582);
}

main .email-container .container h2{
    font-size: 2.5rem;
    padding-top: 15px;
}

main .email-container .container p{
    max-width: 770px;
    width: 100%;
    padding: 30px;
    text-align: center;
}

main .email-container .container form{
    padding-top: 0;
}

main .email-container .container form .email-input{
    border-radius: 30px;
    padding: 15px 0 15px 20px;
    margin-right: 15px;
    max-width: 550px;
    width: 100%
}

main .email-container .container form .email-input::placeholder, main .email-container .container form .email-input{
    color: #000;
}

main .email-container .container form .error{
    color:  hsl(0, 100%, 63%);
    font-size: 0.8rem;
    position: relative;
    left: 20px;
    text-align: start;
}

main .email-container .container form .email-submit{
    background: linear-gradient(150deg, #65e2d9, #339ecc);
    padding: 10px 30px 14px;
    border-radius: 30px;
    transition: all 0.3s ease-in-out;
}

main .email-container .container form a:hover{
    background: linear-gradient(150deg, #a3eee8, #85c5e0);
}

@media(max-width: 940px){
    main .email-container .container h2{
        font-size: 1.5rem;
    }

    main .email-container .container form .email-submit{
        display: block;
        margin-top: 10px; 
    }

    main .email-container{
        margin: 0 18px;
    }

    main .email-container .container form .email-input{
        display: block;
        max-width: 1000px;
        width: 100%;
        margin-right: 0;
    }
}

/* FIM DO EMAIL CONTAINER */

/* FOOTER */

.footer{
    background-color: hsl(216, 53%, 9%);
    padding-top: 200px;
    
}

.footer .container .footer-logo{
    padding-left: 5em;
}

.footer .container .footer-logo img{
    max-width: 150px;
    width: 100%;
}

.footer .container .contact{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding-bottom: 70px;
    padding-top: 35px;
    margin: 0 25px;
}

.footer .container .contact .location{
    display: flex;
    align-content: flex-end;
}

.footer .container .contact .location img{
    height: 15px;
    margin-left: 10px;
}

.footer .container .contact .location p{
    max-width: 350px;
    width: 100%;
    margin-left: 15px;
    position: relative;
    bottom: 5px;

}

.footer .container .contact .phone-email #phone-number, .footer .container .contact .phone-email #fylo-email{
    margin-right: 15px;
    max-width: 15px;
    width: 100%;
    line-height: 10px;
}

.footer .container .contact ul li{
    margin-bottom: 15px;
}

.footer .container .contact a{
    color: rgba(255, 255, 255, 0.7);
    transition: all 0.3s ease-in-out;
}

.footer .container .contact a:hover{
    color: #fff;
}

.footer .container .contact .social-icons a{
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 0 10px;
    width: 40px;
    font-size: 15px;
    padding: 7px;
    transition: all 0.5 ease-in-out;
}

.footer .container .contact .social-icons a:hover, i:hover{
    color: hsl(176, 68%, 64%);
    border-color: hsl(176, 68%, 64%);
}

@media(max-width: 870px){
    .footer .container .footer-logo{
        text-align: center;
        padding: 0;
    }

    .footer .container .contact{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .footer .container .contact .location p{
        max-width: 800px;
        width: 100%;
    }
    .footer .container .footer-logo{
        margin: 0 auto;
    }
}

/* FIM DO FOOTER */